/* header dontainer */

.header-container {


    border-bottom: 2px solid black;
}

.header-col-1 {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-col-1 img {
    max-height: 50px;

}

.header-col-2 {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-col-2 {
    margin: 20px;
    margin-right: 10px;
    text-align: right;
    color: #000000;
    border-radius: 0px 20px;
    box-shadow: 8px 8px 10px #888888;
}

.header-col-2 a {
    padding: 5px;
    color: aliceblue;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header-col-2 a:hover {
    color: rgb(0, 0, 0);
}

.header-col-3 {
    margin: 20px 0px;
    border-radius: 0px 20px;
    box-shadow: 8px 8px 10px #888888;
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: left;
}

.header-col-3 img {
    height: 50px;
    padding: 10px 20px;


}

.header-col-3 img:hover {
    filter: invert(1);
    transform: scale(.9);
    transition: all 0.1s ease-out;
}

/* Navigation */
.nav-container a {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.nav-container a:hover {
    color: red;
}

/* Navigation/Title bar */
.navbar,
.title-banner {
    box-shadow: 8px 8px 10px #888888;
}


/* front */

.front-container {
    position: relative;
}

.front-container h4 {
    text-align: right;
}

.img-col {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden
}

.img-col img {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 2px solid;
}

/* carousel */
.carousel-container {
    color: #000000;
    border-radius: 20px 20px;
    box-shadow: 8px 8px 10px #888888;
}

/* Banners*/
.title-banner {
    top: 50px;
    border-radius: 20px;
}

/* Products card */
.button-container img {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 10px;

}

.button-container button {
    border-radius: 30px;
    margin-top: 10px;
    height: 100px;
    width: 120px;
    align-items: center;
}

.card-container div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-container .card-title {
    color: rgb(255, 0, 0);

}

.card-title {
    color: rgb(255, 0, 0);

}

.card-container button:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 10px #888888;
    transition: all 0.1s ease-out;
}

/* About us */
body .card-text {
    text-align: justify;
}


.aboutus-card {
    box-shadow: 8px 8px 10px #888888;
    border-radius: 20px;
}

.aboutus-img-div .aboutus-img {
    float: left;
    height: 250px;
    margin: 10px;
    padding: 0;
    border: 0;
    align-self: center;
    box-shadow: 8px 8px 10px #888888;
    border-radius: 10px;
}

.aboutus-foot-col {
    display: flex;
    align-items: center;
    justify-content: end
}

.aboutus-foot-col span {
    margin: 10px;
    filter: invert(1);
}

/* Contact Us */
.contact-container {
    background-image: url('Images/Red_phone.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 20px;
}

.contact-data {
    padding-top: 50px;
    padding-left: 50px;

}

.contact-form {
    color: rgb(0, 0, 0);
    font-size: larger;
}


/* Footer Partners */

.partners-brand h4 {
    border-bottom: solid 1px rgb(255, 0, 0);
}



.partners-brand .white {
    filter: invert(1);
    background-blend-mode: multiply;
}

.partners-brand img {
    width: 200px;
    height: auto;

    padding: 20px;
}

.partners-col {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.end-footer {
    border-top: solid 1px rgb(255, 0, 0);
}

.end-footer {
    padding: 20px 20px;
}

.end-footer-list {
    padding: 0px 50px;
}

.footer-some img {
    height: 50px;
    padding: 10px 20px;
    filter: invert(1);
    transition: all 0.3s ease;
}

.footer-some img:hover {
    filter: invert(1);
    background-color: rgba(255, 0, 0, 0.3);

}

.end-footer-list a {
    color: aliceblue;
    transition: color 0.3s ease;
}

.end-footer-list h4 {
    color: aliceblue;

}

.end-footer-list a:hover {
    color: rgb(255, 0, 0);
}